body{
    background-color: #c7ffc5;
    font-family: cursive;
}
header{
    background-color:#12da7d;
    color: #fff;
    text-align: center;
    padding:15px 20px;
    border: 2px solid #04db44;
    border-radius: 20px;

}
#titulo{
    margin:0px 0px 15px 0px;
    
}
#menuPrincipal{
    background-color:#039c39;
    border: 2px solid #04db44;
    border-radius: 20px;
}
#menuPrincipal ul {
    list-style: none;
    padding:0px;
   }
#menuPrincipal ul li {
    display: inline;
    margin:0px 15px;
}
.enlaceMenuPrincipal {
    text-decoration: none;
    color: #fff;
    padding:10px 20px;
}
a:hover{
    color: #ffffff;
    background: #3bed79
}
.tituloSeccion {
    background-color: #039c39;
    color: #fff;
    padding:10px;
    letter-spacing: 2px;
    border: 2px solid #04db44;
    border-radius: 20px;
}
article {
    border: 1px solid #ccc;
    background-color: #eaffc1;
    margin-bottom:10px;
    padding:10px;
    border: 2px dashed #04db44;
    border-radius: 20px;
}
footer {
    background-color: #039c39;
    color: #fff;
    text-align: center;
    padding:10px;
    margin-bottom:20px;
    font-weight:bold;
    border: 2px solid #04db44;
    border-radius: 20px;

}
   
   
   
